*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{

}
body{
  display: flex;
  text-align: center;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #dce35b, #45b649);
}
input{
  width: 350px !important;
  padding: 20px;
  font-size: 20px;
  border: 1px solid white;
  color: white;
  user-select: none;
  resize: none;
  outline: none;
  background: transparent;
  border-radius: 28px;
}
button{
  background: transparent;
  padding: 20px;
  font-size: 20px;
  color: white;
  text-align: center;
  height: 70px;
  width: 70px;
  outline: none;
  border: 1px solid white;
  transition: all .5s;
  border-radius: 10px;
  margin: 20px;
}
button:hover{
  background: white;
  color: black ;
}